nav {
    position: relative;
}

nav .nav-link {
    font-size: 14px;
    color: #77789a;
    text-decoration: none;
    line-height: 50px;
    font-family: Aldrich;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    padding: 0 17px;
    transition: all 0.3s;
}

nav .animation {
    position: absolute;
    height: 2px;
    bottom: -13px;
    z-index: 0;
    background: #f1484c;
    box-shadow: 0px -5px 15px rgba(241, 72, 76, 0.8);
    transition: all .5s ease 0s;
}


nav .start-home,
.nav-link:nth-child(1) {
    width: 70px;
    left: 5px;
}

nav .start-diseños,
.nav-link:nth-child(2) {
    width: 80px;
    left: 88px;
}

nav .start-blog,
.nav-link:nth-child(3) {
    width: 95px;
    left: 185px;
}

nav .start-portfolio,
.nav-link:nth-child(4) {
    width: 105px;
    left: 295px;
}

nav .start-contact,
.nav-link:nth-child(5) {
    width: 60px;
    left: 410px;
}

.vs-btn {
    border: none;
    text-decoration: none;
    vertical-align: middle;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(241, 72, 76, 0.6);
}

.vs-btn:before {
    left: 0;
    top: 0;
    border-top: 1px solid #f1484c;
    border-left: 1px solid #f1484c;
}

.vs-btn:after {
    bottom: 0;
    right: 0;
    border-right: 1px solid #f1484c;
    border-bottom: 1px solid #f1484c;
}

.vs-btn:after,
.vs-btn:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    border-radius: 4px;
    z-index: -1;
}

.vs-btn:after,
.vs-btn:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    background-color: transparent;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    border-radius: px;
    z-index: -1;
}

.vs-btn:hover:after,
.vs-btn:hover:before {
    width: 30%;
    height: 50%;
    background-color: transparent;
    border-color: #f1484c;
}

.vs-btn:hover:before {
    border-radius: 3px 0 0 0;
}

.vs-btn:hover:after {
    border-radius: 0 0 3px 0;
}