body::-webkit-scrollbar {
    width: 0px;
    background-color: #000000;
}

nav {
    position: relative;
}

nav .nav-link {
    font-size: 14px;
    color: #77789a;
    text-decoration: none;
    line-height: 50px;
    font-family: Aldrich;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    padding: 0 17px;
    transition: all 0.3s;
}

nav .animation {
    position: absolute;
    height: 2px;
    bottom: -13px;
    z-index: 0;
    background: #f1484c;
    box-shadow: 0px -5px 15px rgba(241, 72, 76, 0.8);
    transition: all .5s ease 0s;
}


nav .start-home,
.nav-link:nth-child(1) {
    width: 70px;
    left: 5px;
}

nav .start-designs,
.nav-link:nth-child(2) {
    width: 80px;
    left: 88px;
}

nav .start-terms,
.nav-link:nth-child(3) {
    width: 75px;
    left: 183px;
}

nav .start-partners,
.nav-link:nth-child(4) {
    width: 95px;
    left: 272px;
}

nav .start-faq,
.nav-link:nth-child(5) {
    width: 60px;
    left: 377px;
}


.slick-slider {
    max-height: 88px;
}

.vs-btn {
    border: none;
    text-decoration: none;
    vertical-align: middle;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(241, 72, 76, 0.6);
}

.vs-btn:before {
    left: 0;
    top: 0;
    border-top: 1px solid #f1484c;
    border-left: 1px solid #f1484c;
}

.vs-btn:after {
    bottom: 0;
    right: 0;
    border-right: 1px solid #f1484c;
    border-bottom: 1px solid #f1484c;
}

.vs-btn:after,
.vs-btn:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    border-radius: 4px;
    z-index: -1;
}

.vs-btn:after,
.vs-btn:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    background-color: transparent;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    border-radius: px;
    z-index: -1;
}

.vs-btn:hover:after,
.vs-btn:hover:before {
    width: 30%;
    height: 50%;
    background-color: transparent;
    border-color: #f1484c;
}

.vs-btn:hover:before {
    border-radius: 3px 0 0 0;
}

.vs-btn:hover:after {
    border-radius: 0 0 3px 0;
}

.vs-btn .arrow {
    transition: 0.3s all;
}

.vs-btn:hover .arrow {
    transition: 0.3s all;
    transform: rotate(-90deg);
}



.item {
    display: inline-block;
    font-size: 13px;
    transition: all 0.3s;
    margin-right: 60px;
    margin-bottom: 40px;
    position: relative;

    &:hover {
        transform: translateY(-10px);
        transition: all 0.3s;

        .i_hover {
            opacity: 1;
        }
    }
}

.i_img {
    overflow: hidden;
    width: 240px;
    height: 350px;
    border-radius: 4px;

    img {
        border-radius: 4px;
    }

    .free-item {
        position: absolute;
        width: 73px;
        height: 73px;
        background-image: url(/assets/free.png);
        background-size: 100%;
        top: 31.5px;
        left: -2px;
        z-index: 1;
    }

    .disc-item {
        position: absolute;
        width: 73px;
        height: 73px;
        background-image: url(/assets/sale.png);
        background-size: 100%;
        top: 31.5px;
        left: -2px;
        z-index: 1;
    }
}

.i_hover {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 240px;
    height: 196px;
    transition: all 0.3s;
    background: rgba(24, 23, 41, 0.85);
    margin-top: -350px;
    padding-top: 350px;
    opacity: 0;
    box-shadow: 0px 0px 35px rgba(76, 68, 102, 0.75);
    border-radius: 4px;

    button {
        position: absolute;
        border: 2px solid #f1484c;
        box-shadow: 0px 0px 10px rgba(241, 72, 76, 0.6);
        border-radius: 5px;
        font-size: 16px;
        padding: 20px 25px;
        top: 45%;
        left: 80px;
    }
}

.i_price {
    position: relative;
    color: #f1484c;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.file_types {
    position: absolute;
    right: 0px;
    margin-top: 7px;
    margin-bottom: -3px;

    a {
        display: block;
        position: relative;
        z-index: 4;
        float: right;
        width: 36px;
        height: 36px;
        margin-top: 4px;
        background: url(/assets/psd.png) no-repeat;
        background-size: 25px;
    }
}


.faq-box {
    border: 2px dashed #f1484c;
    padding: 10px;
    font-weight: 600;
    color: #f1484c;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.psd-box {
    position: relative;
    padding: 20px 24px 20px 45px;
    border: 1px solid #959598;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);

    p {
        font-size: 13px;
        color: #8c8c8c;
        width: 230px;
    }
}

.psd-box::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    background: url(/assets/new.png) no-repeat;
    background-size: cover;
    top: -2px;
    left: -2px;
}

.filter-bar {
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
    margin-top: 15px;
    padding: 13px 10px;
}

.loading {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loading-fade {
    opacity: 0;
    transition: 1s all;
    z-index: -1;
}

.footer img {
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
        filter: grayscale(0%);
        opacity: 1;
    }
}

.social-links {
    padding: 25px;

    svg,i {
        transition: 0.3s all;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.green_button {
    background: linear-gradient(to top, #22a86f, #9ddf56);
    border-width: 0px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px -1px #66b457;
    padding: 15px 32px;
    cursor: pointer;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}